header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  -webkit-transition: height .2s linear .1s,-webkit-transform .2s linear;
  transition: height .2s linear .1s,-webkit-transform .2s linear;
  transition: transform .2s linear,height .2s linear .1s;
  transition: transform .2s linear,height .2s linear .1s,-webkit-transform .2s linear;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header.hide {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}