@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  line-height: 1;
  word-break: keep-all;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

@font-face {
  font-family: 'GangwonEducationTteontteon';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}
